{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block content %}
    <div class="jumbo">
        <h1>{{ page.title }}</h1>
        {{ page.body|richtext }}
    </div>
{% endblock %}
