{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<div class="grid gap-10 justify-items-center">
    <header class="text-5xl font-bold">
        {{page.title}}
    </header>

    <div>
        {% for tag in page.tags.all %}
        {% include 'components/tag.html' with tag=tag %}
        {% endfor %}
    </div>

    {% if page.repository_url %}
    <a href="{{page.repository_url}}"
        class="underline text-blue-300 hover:text-blue-400 visited:text-purple-400 visited:hover:text-purple-500">View
        code!</a>
    {% endif %}

    <article class="prose dark:prose-invert prose-sm md:prose-base lg:prose-lg xl:prose-xl">
        {{page.description|richtext}}
    </article>
</div>
{% endblock %}
