{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <title>Hello, world!</title>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta name="description" content="" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>

<body class="bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100">
    {% include 'navigation.html' %}
    <div class="m-5">
    {% block content %}
        <h1>content here!</h1>
    {% endblock %}
    </div>
</body>
<script src="{% static 'js/darkModeToggle.js' %}"></script>
</html>
