:root {
    --bg-color: #1F1F1F;
    --bg-alt-color: #3B4454;
    --fg-color: white;
    --primary-color: hsl(40, 100%, 55%);
    --secondary-color: hsl(27, 100%, 55%);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

.body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: sans-serif;
}

.navbar {
    background-color: var(--bg-alt-color);
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition-duration: 0.5s;
}

a:hover {
    color: var(--fg-color);
}

.navbar a::before {
    content: "»";
}

.container {
    margin: auto;
    width: clamp(200px, 95vw, 85rem);
}

.post-body {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.preview {
    border-bottom: 2px solid var(--bg-alt-color);
    padding-bottom: 1rem;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tag {
    background-color: var(--secondary-color);
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}
